.box-carta{
    height: 250px;
    width: 150px;
    perspective: 500px;
}
.carta{
    height: 100%;
    width: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
}
.anverso-carta{
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    background-color: lightblue;
    border-radius: 15px;
}
.verso-carta{
    position: absolute;
    backface-visibility: hidden;
    background-color: lightcoral;
    border-radius: 15px;
}
.cards{
    border-radius: 15px;
}
#switch{
    display: none;
}
#switch:checked ~  .carta {
    transform: rotateY(180deg);
  }

